# Секретный ключ Django
SECRET_KEY=your_super_secret_jwt_key_here

# Настройки базы данных Postgres
POSTGRES_DB=my_database_name
POSTGRES_USER=my_db_user
POSTGRES_PASSWORD=secret_password_here
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/1

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

ALLOWED_HOSTS=localhost,127.0.0.1
