{% extends "base.html" %}

{% block title %}SlotMe — запись к мастеру{% endblock title %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">SlotMe</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Онлайн-запись к мастеру за пару кликов. Выберите услугу, мастера и удобное время.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'masters:master_list' %}" class="btn btn-primary btn-lg px-4 gap-3">Смотреть мастеров</a>
            <a href="{% url 'services:services_list' %}" class="btn btn-outline-secondary btn-lg px-4">Смотреть услуги</a>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom text-center">Три простых шага</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 text-center">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded px-3 py-2">
                1
            </div>
            <h3 class="fs-4 text-body-emphasis">Выберите мастера</h3>
            <p>Изучите профили специалистов и спектр оказываемых услуг.</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded px-3 py-2">
                2
            </div>
            <h3 class="fs-4 text-body-emphasis">Найдите время</h3>
            <p>В удобном интерактивном календаре выберите подходящую дату и любой свободный временной слот.</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded px-3 py-2">
                3
            </div>
            <h3 class="fs-4 text-body-emphasis">Приходите на сеанс</h3>
            <p>Вы получите мгновенное подтверждение записи. Вся информация о визите всегда доступна в вашем личном кабинете.</p>
        </div>
    </div>
</div>

{% endblock content %}
