{% load url_tags %}

{% if page_obj.has_other_pages %}
<nav aria-label="Навигация по записям" class="mt-4">
    <ul class="pagination justify-content-center shadow-sm">

        <!-- Назад -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=1 %}" aria-label="Первая">
                    <span aria-hidden="true">
                        <i class="bi bi-chevron-double-left"></i>
                    </span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}" aria-label="Назад">
                    <span aria-hidden="true">
                        <i class="bi bi-chevron-left"></i> Назад
                    </span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">
                    <i class="bi bi-chevron-double-left"></i>
                </span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">
                    <i class="bi bi-chevron-left"></i> Назад
                </span>
            </li>
        {% endif %}

        <!-- Текущая страница -->
        <li class="page-item active" aria-current="page">
            <span class="page-link text-nowrap">
                {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        <!-- Вперед -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}" aria-label="Вперед">
                    <span aria-hidden="true">
                        Вперед <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}" aria-label="Последняя">
                    <span aria-hidden="true">
                        <i class="bi bi-chevron-double-right"></i>
                    </span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">
                    Вперед <i class="bi bi-chevron-right"></i>
                </span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">
                    <i class="bi bi-chevron-double-right"></i>
                </span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
